.portafolio--section-carousel {
    position: relative; /*Pusimos esto para que las flechas de carousel les podamos dar un "Position: abosulte" y las podamos acomodar*/
   margin: auto;
   width: 100%;
}

.carousel-izquierda, .carousel-derecha {
position: absolute;
display: block;
width: 30px;
height: 30px;
border: none;
top: calc(50% - 35px); /*Cuando le damos "calc" nos permite calcular su pocision y que calcule su 50% y que baje 35px. Así se hacen responsive las flechas por así decirlo. Siempre estarán calculanddo*/
cursor: pointer;
line-height: 30px;
text-align: center;
background: none;
color: #fff;
opacity: 20%;
transition: all .3px;
border: none;
}

.carousel-izquierda {
    left: -30px;
}

.carousel-derecha {
    right: -30px;
}

.carousel-izquierda:hover {
   opacity: 100%;
   color: #fff;
}

.carousel-derecha:hover {
   opacity: 100%;
   color: #fff;
}

.carousel__indicadores .glider-dot {
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    opacity: .2;
    border-radius: none;
}

.carousel__indicadores .glider-dot:hover {
    opacity: .5;
}

.carousel__indicadores .glider-dot.active {
    opacity: 1;
    color: #fff;
}

   
   @media screen and (min-width:480px) {

}

   @media screen and (min-width:768px) {
    
}

   @media screen and (min-width:1024px) {
       
}

   @media screen and (min-width:1600px) {
       
}

